@media (max-width: 650px) {
    header {
        padding: 10px;
    }

    .instructors {
        padding: 20px 10px;
        flex-wrap: wrap;
    }

    .instructor {
        padding: 10px;
    }

    .instructor img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .comments {
        padding: 0;
        text-align: center;
    }

    .comment {
        display: inline-block;
        text-align: center;
    }

    .comment img {
        margin-right: 0;
    }
}


@media (max-width: 830px) {
    .instructor {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .instructor img {
        width: 100%;
    }
}